.tooltipContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Position above the element */
    left: 50%;
    margin-left: 0; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
